ul.index-instances { }

.index-instance-file {
    font-weight: bolder;
}

.index-instance-text-parts { }

.index-instance-line { }

#site-heading {
  background: #c1b7ae;
  height: 7em;
}

#heading_image {
    height: 6em;
    margin: 0.5em;
    text-align: left;
}


#title-box {
  display: inline-block;
  float: right;
  text-align: right;
  padding: 0.5em 1em 0.5em 1em;
}

#site-title {
  color: #F8F7F6;
  font-variant: small-caps;
  font-weight: lighter;
  font-family: "Source Sans Pro", "Lucida Sans", "Verdana", sans-serif;
}

#site-title-abbr {
    font-size: 32px;
}

#site-title-full {
     font-size: 22px;
}

#site-name {
      text-align: center;
      padding-top: 30px;
      padding-bottom: 10px;
      color: #ab9d92;
      font-size: 32px;
      font-variant: small-caps;
      font-weight: 300;
      font-family: "Source Sans Pro", "Lucida Sans", "Bilbo Swash Caps", "Verdana", sans-serif;
}

#site-name a {
      color: #ab9d92;
}

#home_image {
     padding-top: 1em;
     padding-bottom: 1em;
}

.homepage {
    font-size: 15px;
    text-align: center;
}

#credits {
      text-align: center;
      padding-top: 30px;
      padding-bottom: 30px;
}

#logos {
    text-align: center;
    font-size: 15px;
}

/*h1#site-title img {
    margin: 30px 0 5px 0;
    /\*border: solid #D3D3D3 1px;*\/
    width: 90%;
}*/

nav.top-bar, nav.top-bar ul.right li, nav.top-bar ul.left * {
    background-color: #c1b7ae;
}

nav.top-bar {
    margin: 0 0 40px 0;
}

.top-bar-section {
    letter-spacing: 1px;
}

p, li {
    text-align: justify;
}

p.arabic {
    direction: rtl;
    text-align-last: right;
}

p, h1, h2, h3, h4, h5, li, ul {
    font-family: "Lucida Sans", Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 24px;
    color: #383737;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
    font-weight: bold;
}

a:link, a:visited, a:active { color: #637893; }
a:hover { color: #45658B; } 

body{
    /*background: url(../images/body_bg.png) -7px top repeat-y;*/
    font: 100% "Lucida Sans", Tahoma, Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    color: #333;
    background-color: #F8F7F6;
    display: block;
    border: 1px solid #efefef;
    padding: 3px 1px 3px 3px;
}

footer{
    margin: 0 30px 40px 30px;
    border-top: 2px solid #efefef;
    font-size: 75%;
    color: #999;
}

footer p { 
    margin-top: 20px;
    text-align: center;
}

li.active a {
    background-color: #c1b7ae;
}

li {
    list-style: none;
}

label#search_options {
    padding-bottom: 2em;
}

.larger_cell {
    width: 200px;
}

/*Keyboard*/
#keyboard_box {
    display:none;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 4em;
    float: none;
    width: 300px;
    height: 300px;
}
#keyboard li {
    font-size: 18px;
    list-style: none;
    float: left;
    margin: 0 5px 5px 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background: white;
    border-radius: 5px;
}
#keyboard li:hover {
    border: none;
    background-color: #e5e5e5;
    cursor: pointer;
}

/*Fonts*/
@font-face {
    font-family: "Open Sans Condensed";
    src: url('fonts/open-sans-condensed-v15-latin-300.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans Condensed";
    src: url('fonts/open-sans-condensed-v15-latin-700.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('fonts/source-sans-pro-v14-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('fonts/source-sans-pro-v14-latin-600.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('fonts/source-sans-pro-v14-latin-700.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
    
    
    @font-face {
    font-family: "New Athena Unicode";
    src: url('fonts/nau.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "New Athena Unicode";
    src: url('fonts/nauBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "New Athena Unicode";
    src: url('fonts/nauItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "New Athena Unicode";
    src: url('fonts/nauBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}